.brokers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.brokers__header {
    margin: 0;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    min-width: 1200px;
    table-layout: fixed;
}

.table__wrapper {
    width: 100%;
    overflow-x: auto;
    display: block;
}

.table__cell {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.table__cell button {
    display: block;
    margin: 0 auto;
}

.table__money {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.table__money button {
    margin: 0;
}

.add_modal {
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #04b7cf;
    background-color: #fff;
}