.form__wrapper {
    box-sizing: border-box;
    width: 600px;
    box-sizing: border-box;
    border: 2px solid #3eb4cf;
    padding: 20px;
    border-radius: 10px;
}

.form__section {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}