<div class="main">
  @if (profileInfo) {
    <div class="profile">
      <div class="profile__info">
          <div class="profile__imgname">
            <img
              [src]="profileInfo.avatar ? (profileInfo.avatar | imgUrl) : './assets/images/webp/invalid-avatar.webp'"
              alt="Аватар"
              class="profile__avatar"
            >
            <h1 class="profile__text">{{profileInfo.name}} {{profileInfo.surname}}</h1>
          </div>
          <h2 class="profile__text">&#64;{{profileInfo.nickname}}</h2>
          <p>{{profileInfo.about}}</p>
      </div>
      @if (userNickname === profileInfo.nickname) {
        <div class="profile__buttons">
          <button mat-flat-button color="primary" (click)="openDialogEditProfile()">Редактировать профиль</button>
          <button mat-flat-button color="primary" (click)="openDialogCreatePost()">Написать пост</button>
        </div>
      }
      @else {
        <div class="profile__functions">
          <button>Добавить в друзья</button>
        </div>
      }
    </div>
    <div class="line"></div>
    <posts [postList]="postsSig()"></posts>
  }
  @else {
    <h1>Загрузка...</h1>
  }
</div>
