.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0 0 0;
}

.profile__info {
  width: 100%;
}

.profile__imgname {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.profile__avatar {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  border: 1px solid gray;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 2px;
}

.profile__text {
    margin: 0;
    padding: 0;
}

.line {
    margin: 5px 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
}
