.modal {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}