.editor {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
}

.editor__title {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__button {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    transition: background-color 0.15s linear, color 0.15s linear;
}

.form__button:hover {
    background-color: cadetblue;
    color: black;
}

.form__element {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form__label {
    font-family: inherit;
    font-size: 18px;
}

.form__input {
    padding: 2px;
    font-family: inherit;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.form__input:focus {
    outline: none;
    border-color: black;
}